$primary-900: #353487;
$primary-800: #3D3C99;
$primary-600: #5250CD;
$primary-300: #CBCBF0;
$primary-200: #F3F3FF;

$secondary-900: #9B5E32;
$secondary-800: #B8703C;
$secondary-600: #EB8F4D;
$secondary-300: #F9DDCA;
$secondary-200: #FFF4EC;

$black-900: #131314;
$black-700: #585D63;
$black-600: #99A2AD;
$black-400: #C8CFDB;
$black-300: #DCDFE8;
$black-100: #F9FAFB;

$transparent: transparent;

$white: #FFFFFF;

$green: #1BD741;
$yellow: #F4DB57;
$blue-first: #2AABEE;
$blue-second: #229ED9;