.socialLinks {
    z-index: 10;
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.icon {
    border-radius: 9999px;

    &:hover {
        cursor: pointer;
    }

    &_type {
        &_tg {
            &:hover {
                background: linear-gradient(180deg, $blue-first 0%, $blue-second 99.21%);
            }
        }

        &_facebook {
            &:hover {
                background: #157DC3;          
            }
        }

        &_email {
            &:hover {
                background: $yellow;
            }
        }

        &_twitter {
            &:hover {
                background: #41ABE1;
            }
        }
    }
}

@media screen and (max-width: 999px) {
    .socialLinks {
        column-gap: 12px;
    }
    
    .button_type_header > .icon {
        &_type {
            &_tg {
                background: linear-gradient(180deg, $blue-first 0%, $blue-second 99.21%);
            }
    
            &_facebook {
                background: #157DC3;              
            }
    
            &_email {
                background: $yellow;
            }

            &_twitter {
                background: #41ABE1;
            }
        }
        
        &:hover {
            opacity: 0.7;
        }
    }
}