.page {
    div {
        width: 100% !important;
        height: 100% !important;
    }

    canvas {
        margin: 0 auto;
        display: block;
    }
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    row-gap: 10px;
    margin: 0 auto 20px;
    z-index: 100;
}

.buttons {
    display: flex;
    column-gap: 15px;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 15px;

    &:disabled {
        color: $primary-300;
        cursor: default;
    }
}

.link {
    cursor: pointer;
    background-color: $primary-600;
    color: $white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;

    &:hover {
        background-color: $primary-900;
    }

    &:first-child {
        background-color: transparent;
        border: 1px solid $primary-600;
        color: $primary-600;

        &:hover {
            background-color: $primary-600;
            color: $white;
        }
    }
}

.loader {
    width: 80px;
    height: 80px;
    padding: 100px;
}